@font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("./fonts/Inter-roman.var.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("./fonts/roboto-mono-v12-latin-regular.woff2") format("woff2");
}
